
body{
  margin: 0;
}

h1 {
  text-align: center;
}

.top_div {
  background: mediumaquamarine;
  height: 48px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.top_div a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_div a:hover {
  background-color:whitesmoke;
  color: black;
}

.top_div a.active {
  background-color: mediumspringgreen;
  color: rgb(187, 187, 187);
}

.bar_menu_div {
  height: 60px;
  width: 100%;
  padding: 0px;
  border: solid 0px;
  background-color: mediumspringgreen;
  vertical-align: 100%;
}

.introduction_div {
  height: 520px;
  width: 100%;
  background: transparent;
}

.photo1_div {
  height: 520px;
  width: 100%;
  background-color: mediumspringgreen;
  align-items: center;
}

.photo2_div {
  height: 520px;
  width: 100%;
  background-color: green;
  align-items: center;
}

.foot_div {
  height: 420px;
  width: 100%;
  background-color: grey;
  align-items: center;
}

