html{
  direction: ltr;
}
body{
  margin: 0;
}

h1,h2,h3{
  text-align: center;
  margin: 0;
}
.titolo {
  margin: 0;
}
.top_div {
  background: mediumaquamarine;
  height: 48px;
}

.top_div a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_div a:hover {
  background-color:whitesmoke;
  color: black;
}

.top_div a.active {
  background-color: mediumspringgreen;
  color: rgb(187, 187, 187);
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


.bar_menu_div {
  height: 60px;
  width: 100%;
  padding: 0px;
  border: solid 0px;
  background-color: mediumspringgreen;
  vertical-align: 100%;
}

.introduction_div {
  height: 520px;
  width: 100%;
  background-image: url('/img/WorkSafe.jpg');
  align-items: center;
}

.photo1_div {
  height: 520px;
  width: 100%;
  background-color:white;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.photo2_div {
  height: 564px;
  width: 100%;
  background-color:mediumspringgreen;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* We tell all items to be 100% width, via flex-basis */
.photo2_div > * {
  flex: 1 100%;
}

.foot_div {
  height: 420px;
  width: 100%;
  background-color: grey;
  align-items: center;
}

